// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.1/
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "enabled": true,
  "shape": "Circle",
  "position": "TopRight",
  "showFps": false,
  "showBiome": false,
  "showLocation": false,
  "sizePercent": 27,
  "frameAlpha": 100,
  "terrainAlpha": 100,
  "orientation": "PlayerHeading",
  "compassFontScale": 1,
  "showCompass": true,
  "showReticle": true,
  "reticleOrientation": "PlayerHeading",
  "preferredMapType": "day",
  "active": true,
  "showCaves": true,
  "fontScale": 1,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": false,
  "locationFormat": "xzyv",
  "showMobHeading": true,
  "showPlayerHeading": true,
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": false,
  "entityIconSetName": "2D",
  "zoomLevel": 1,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 0,
    "patch": ""
  }
}